html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
}

#addForm {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f8f9fa;
}

#favicon {
    height: 200px;
    width: 200p
